# Environment files
Backend/.env
glugo/.env

# Flutter/Dart temporary files
.dart_tool/
.flutter-plugins-dependencies/

# OS or editor-specific files
*.log
*.DS_Store

# Python bytecode cache
__pycache__/
*.pyc

# local dev database
Backend/db.sqlite3

# User-uploaded content
Backend/media/

SESSION_SUMMARY.md
note.txt